table {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

tr,
td {
    border: 1px solid black;
}

td {
    padding: 5px;
}

tr:hover {
    background-color: yellow;
}

input:invalid {
    background-color: pink;
}

input:valid {
    background-color: lightGreen;
}

.bordureRouge {
    border: 2px dashed red;
}

#add-card {
    width: 320px;
    margin: 4px;
    display: inline-block;
    vertical-align: top;
}

.md-field {
    margin: 4px 0 7px !important;
    min-height: 0px;
}

.md-primary {
    color: white;
    background: #3498db;
}

#app {
    padding: 10px;
}